@model mcl959mvc.Models.Roster
@{
    ViewData["Title"] = "Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.HasClaim("isAdmin", "true");
}

<h2>Roster Member Details</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.FirstName)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.MiddleName)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.MiddleName)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.LastName)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.DisplayName)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.DisplayName)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.MemberNumber)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.MemberNumber)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.MemberStartDate)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.MemberStartDate)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.MemberExpireDate)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.MemberExpireDate)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.LifeMemberNumber)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.LifeMemberNumber)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.LifeMemberDate)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.LifeMemberDate)</dd>
            </dl>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.PersonalAddress)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.PersonalAddress)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.PersonalPhone)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.PersonalPhone)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.PersonalEmail)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.PersonalEmail)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.WorkAddress)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.WorkAddress)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.WorkPhone)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.WorkPhone)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.WorkEmail)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.WorkEmail)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.CreatedDate)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.DiedOn)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.DiedOn)</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="roster-field">
                <dt class="roster-label">@Html.DisplayNameFor(model => model.Authenticated)</dt>
                <dd class="roster-value">@Html.DisplayFor(model => model.Authenticated)</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#miMember').addClass('selected');
    });
</script>
