@model IEnumerable<mcl959mvc.Models.Roster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeMemberNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeMemberDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoStepKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authenticated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HashPwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeMemberNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeMemberDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoStepKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authenticated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HashPwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
