@using mcl959mvc.Classes
@model List<mcl959mvc.Models.Roster>
@{
    ViewData["Title"] = "Members";
    var currentSort = ViewData["CurrentSort"] as string;
    var isAdmin = ViewBag.IsAdmin as bool? ?? false;
    var nameSortParm = ViewData["NameSortParm"] as string;
    var currentPage = ViewData["CurrentPage"].ToInt32();
    var totalPages = ViewData["TotalPages"].ToInt32();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMembership">
    <h1>Member Info</h1>
    <table style="width: 90%">
        <tr><th>We are currently accepting new members!</th></tr>
        <tr>
            <td>
                <ul>
                    <li>The Marine Corps League is an organization of Active Duty and Honorably Discharged Marines. We are the voice of all Marines, and we help our fellow Marine Corps Veterans.</li>
                    <li>We call out to local Marine Veterans to step forward and help us ensure the future of the Marine Corps League. If you own the title of <em>The Few</em> and <em>The Proud</em>, we would like for you to join our organization. You are still needed.</li>
                    <li>Membership includes a subscription to <em>Semper Fi</em>, the official magazine of the Marine Corps League, which is sent out quarterly.</li>
                    <li>Applications can be downloaded using this link: <a href="/info/MclApplication.pdf">Membership Applications</a></li>
                    <li>
                        Annual dues are currently $40.<br />
                        <div>Note: All new members must be accepted, voted on, and approved by the organization.</div>
                        <div>Existing members needing to renew can send payments to:</div>
                        <div style="text-align:center;">Marine Corps League<br />P.O. Box 9395<br />Longview, TX 75608</div>
                    </li>
                    <li><a href="Contact.aspx">Contact Us</a> if you wish to apply or need additional information.</li>
                </ul>
            </td>
        </tr>
    </table>
    <asp:Label ID="lbl2Months" runat="server" />
</div>
<div id="divMembers">
    <h1>Memberships</h1>
    <table style="width: 90%">
        <tr>
            <th>Current Members</th>
        </tr>
        <tr>
            <td style="width: 50%">
                Our current membership is comprised of roughly <asp:Label ID="lblMemberCount" runat="server" /> Marines.<br />
                <br />
                Our meetings are held the 4th Tuesday of each month, except December. We're busy conducting the "Toys for Tots" program in December.<br />
            </td>
            <td style="width: 50%">
                <img src="/photos/officerPlaqueSM.jpg" style="width: 95%" />
            </td>
        </tr>
    </table>
</div>
@if (isAdmin)
{
<div id="divRoster">
    <h1>Roster</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Display Name</th>
                <th>Member Number</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a
                            asp-action="Index"
                            asp-route-sortOrder="@nameSortParm"
                            asp-route-page="1"
                            asp-page="./Edit" asp-route-id="@item.Id">@item.DisplayName</a>
                    </td>
                    <td>@item.MemberNumber</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.PersonalPhone))
                        {
                            <a href="tel:@item.PersonalPhone">@item.PersonalPhone</a>
                        }
                        else if (!string.IsNullOrWhiteSpace(item.WorkEmail))
                        {
                            <a href="tel:@item.WorkEmail">@item.WorkEmail</a>
                        }
                        else
                        {
                            <span>No Phone</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.PersonalEmail))
                        {
                            <a href="mailto:@item.PersonalEmail">@item.PersonalEmail</a>
                        }
                        else if (!string.IsNullOrWhiteSpace(item.WorkEmail))
                        {
                            <a href="mailto:@item.WorkEmail">@item.WorkEmail</a>
                        }
                        else
                        {
                            <span>No Email</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @if (1 < currentPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                        asp-route-sortOrder="@currentSort"
                        asp-route-page="@(currentPage - 1)">Previous</a>
                </li>
            }
            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-sortOrder="@currentSort"
                       asp-route-page="@(currentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
}
<div id="divOath">
    <asp:Label id="mclOath" runat="server"></asp:Label>
</div>
<div id="divMemorial">
    <h1>Memorials</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Member</th>
                <th>Died</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model
            .Where(x => x.DiedOn != null)
            .OrderBy(x => x.DiedOn))
            {
                <tr>
                    <td>@member.DisplayName</td>
                    <td>@member.DiedOn</td>
                    <td>
                        @if (member.LifeMemberNumber == null)
                        {
                            <p>&nbsp;</p>
                        } else { 
                            <p>Life Member</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
