@using mcl959mvc.Classes
@model RosterIndexViewModel
@{
    ViewData["Title"] = "Members";
    bool isAdmin = User.HasClaim("isAdmin", "true");
    int nRoster = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMembership">
    <h2>Member Info</h2>
    <table style="width: 90%">
        <tr><th>We are currently accepting new members!</th></tr>
        <tr>
            <td>
                <ul>
                    <li>The Marine Corps League is an organization of Active Duty and Honorably Discharged Marines. We are the voice of all Marines, and we help our fellow Marine Corps Veterans.</li>
                    <li>We call out to local Marine Veterans to step forward and help us ensure the future of the Marine Corps League. If you own the title of <em>The Few</em> and <em>The Proud</em>, we would like for you to join our organization. You are still needed.</li>
                    <li>Membership includes a subscription to <em>Semper Fi</em>, the official magazine of the Marine Corps League, which is sent out quarterly.</li>
                    <li>Applications can be downloaded using this link: <a href="/info/Membership-Application-Form-2023.pdf">Membership Applications</a></li>
                    <li>
                        Annual dues are currently $40.<br />
                        <div>Note: All new members must be accepted, voted on, and approved by the organization.</div>
                        <div>Existing members needing to renew can send payments to:</div>
                        <div style="text-align:center;">Marine Corps League<br />P.O. Box 9395<br />Longview, TX 75608</div>
                    </li>
                    <li><a asp-controller="Messages" asp-action="Index">Contact Us</a> if you wish to apply or need additional information.</li>
                </ul>
            </td>
        </tr>
    </table>
    <asp:Label ID="lbl2Months" runat="server" />
</div>
<div id="divMembers">
    <h2>Memberships</h2>
    <table style="width: 90%">
        <tr>
            <th>Current Members</th>
        </tr>
        <tr>
            <td style="width: 50%">
                Our current membership is comprised of approximately @Model.LivingMembers.Count Marines.<br />
                <br />
                Our meetings are held the 4th Tuesday of each month, except December. We're busy conducting the "Toys for Tots" program in December.<br />
            </td>
            <td style="width: 50%">
                <img src="/photos/officerPlaqueSM.jpg" style="width: 95%" />
            </td>
        </tr>
    </table>
</div>
<div id="divOfficers">
    <h2>Current Officers</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Member Number</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var officer in Model.Officers)
            {
                <tr>
                    <td>@officer.Position</td>
                    <td>@officer.DisplayName</td>
                    <td>@officer.MemberNumber</td>
                    <td>@officer.Phone</td>
                    <td>@officer.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="divMemorial">
    <h2>Memorials</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Member</th>
                <th>Died</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.DeceasedMembers)
            {
                <tr>
                    <td>
                        <a asp-controller="Roster" asp-action="Memorial" asp-route-id="@member.Id">
                            @member.DisplayName
                        </a>
                    </td>
                    <td>@member.DiedOn</td>
                    <td>
                        @if (member.LifeMemberNumber == null)
                        {
                            <p>&nbsp;</p>
                        }
                        else
                        {
                            <p>Life Member</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="divOath">
    <h2>Marine Corps League Oath of Membership</h2>
    <div>
        <blockquote>@Html.Raw(Model.Oath)</blockquote>
    </div>
</div>
@if (isAdmin)
{
    <div id="divRoster" class="admin">
    <h2>Admin Roster</h2>
        <p>
            <a asp-action="Create">Add New Member</a>
        </p>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Row</th>
                <th>Name</th>
                <th>Number</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllMembers
                .OrderBy(x => x.LastName)
                .ThenBy(x => x.FirstName)
                .ThenBy(x => x.MemberNumber))
            {
                <tr>
                    <td>@(nRoster++)</td>
                    <td>
                        @item.DisplayName
                    </td>
                    <td>
                            <a asp-action="Details"
                               asp-controller="Roster"
                               asp-route-memberNumber="@item.MemberNumber"
                               asp-route-id="@item.Id">
                                @(!string.IsNullOrEmpty(item.MemberNumber) ? item.MemberNumber : "N/A")
                            </a>
                        </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.PersonalPhone))
                        {
                            <a href="tel:@item.PersonalPhone">@item.PersonalPhone</a>
                        }
                        else if (!string.IsNullOrWhiteSpace(item.WorkEmail))
                        {
                            <a href="tel:@item.WorkEmail">@item.WorkEmail</a>
                        }
                        else
                        {
                            <span>No Phone</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.PersonalEmail))
                        {
                            <a href="mailto:@item.PersonalEmail">@Html.Raw(item.PersonalEmail)</a>
                        }
                        else if (!string.IsNullOrWhiteSpace(item.WorkEmail))
                        {
                            <a href="mailto:@item.WorkEmail">@Html.Raw(item.WorkEmail)</a>
                        }
                        else
                        {
                            <span>No Email</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

<script>
    $(document).ready(function () {
        $('#miMember').addClass('selected');
    });
</script>
