@model mcl959mvc.Models.EventsAndCommentsModel
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = User.HasClaim("isAdmin", "true");
    var isMember = User.HasClaim("isMember", "true");
    var isRegistered = User.HasClaim("isRegistered", "true");
}

<h2>Event Details</h2>
<div>
    <dl class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label asp-for="Event.EventName" class="control-label"></label>
                    <input asp-for="Event.EventName" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Event.EventDescription" class="control-label"></label>
                    <textarea asp-for="Event.EventDescription" class="form-control" rows="8" style="width:100%; min-width:100%; min-height:200px;" readonly="readonly"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Event.EventDate" class="control-label"></label>
                    <input asp-for="Event.EventDate" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    @if (isAdmin)
                    {
                        <input type="submit" value="Edit" class="btn btn-danger" formaction="@Url.Action("Edit", "Events", new { id = Model.Id })" />
                    }
                </div>
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </dl>
</div>
<h3>Comments</h3>
<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>
            <strong>@comment.UserId</strong>: @comment.Message <em>(@comment.TimeStamp)</em>
        </li>
    }
</ul>

@if (isRegistered)
{
    <h4>Add a Comment</h4>
    <form asp-action="AddComment" asp-controller="Events" method="post">
        <input type="hidden" name="TableSource" value="Event" />
        <input type="hidden" name="ParentId" value="@Model.Event.Id" />
        <div class="form-group">
            <label for="UserId">Comment As</label>
            <input type="text" name="UserId" class="form-control" value="@User.Identity.Name" />
            <label for="Message">Comment</label>
            <textarea name="Message" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
}
else
{
    <p><em>You must be logged in to add a comment.</em></p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        $('#miEvent').addClass('selected');
    });
</script>
